<!DOCTYPE html>
<html lang="en" data-theme="lemonade">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Members Only - <%= title %></title>
</head>
<body class="bg-base-100">
    <nav class="navbar flex justify-between">
      <div>
        <a href="/" class="btn btn-ghost text-accent-content md:text-xl">Members Only 
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
          stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" 
            d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
            />
          </svg>
        </a>
      </div>
      <div class="flex md:gap-x-4" >
        <!-- the label el acts as a button to open the Log In modal as well -->
        <label for="log-in-modal" class="btn btn-primary btn-sm modal-button md:btn-lg">
          Log In
        </label>

        <!-- the label el acts as a button to open the Sign Up modal as well -->
        <label for="sign-up-modal" class="btn btn-secondary btn-sm modal-button md:btn-lg">
          Sign Up
        </label>
      </div>
    </nav>

    <input type="checkbox" id="log-in-modal" class="modal-toggle">
    <div class="modal bg-base-300">
      <label for="log-in-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
      <form class="form-control" action="/login" method="post">
        <label class="label" for="login-email">Email:</label>
        <input class="input mb-2" type="text" id="login-email" placeholder="Email address" 
          name="login_email">

        <label class="label" for="login-password">Password:</label>
        <input class="input mb-2" type="password" id="login-password" placeholder="Password"
          name="login_password">

        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>

    <input type="checkbox" id="sign-up-modal" class="modal-toggle">
    <div class="modal bg-base-300">
      <label for="sign-up-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
      <form class="form-control" action="/signup" method="post">


        <% if (errors?.firstName) { %>

          <label class="label text-error-content bg-error" for="signup-first-name">
            <%- errors.firstName.message %>
          </label>
          <input class="input mb-2" type="text" id="signup-first-name" placeholder="First name"
          name="signup_first_name">

        <% } else { %>

        <label class="label" for="signup-first-name">First name:</label>
        <input class="input mb-2" type="text" id="signup-first-name" placeholder="First name"
          name="signup_first_name">

        <% } %>

        <% if (errors?.lastName) { %>

        <label class="label text-error-content bg-error" for="signup-last-name">
          <%- errors.lastName.message %>
        </label>
        <input class="input mb-2" type="text" id="signup-last-name" placeholder="Last name"
          name="signup_last_name">

        <% } else { %>

        <label class="label" for="signup-last-name">Last name:</label>
        <input class="input mb-2" type="text" id="signup-last-name" placeholder="Last name"
          name="signup_last_name">

        <% } %>

        <% if (errors?.email) { %>

        <label class="label text-error-content bg-error" for="signup-email">
          <%- errors.email.message %>
        </label>
        <input class="input mb-2" type="text" id="signup-email" placeholder="Email address"
          name="signup_email">
        
        <% } else { %>
        
        <label class="label" for="signup-email">Email address:</label>
        <input class="input mb-2" type="text" id="signup-email" placeholder="Email address"
          name="signup_email">

        <% } %>

        <% if (errors?.password) { %>

        <label class="label text-error-content bg-error" for="signup-password">
          <%- errors.password %>
        </label>
        <input class="input mb-2" type="password" id="signup-password" placeholder="Password"
          name="signup_password">

        <% } else { %>

        <label class="label" for="signup-password">Password:</label>
        <input class="input mb-2" type="password" id="signup-password" placeholder="Password"
          name="signup_password">

        <% } %>

        <% if (errors?.passwordConfirmation) { %>

        <label class="label text-error-content bg-error" for="signup-password-confirm">
          <%- errors.passwordConfirmation %>
        </label>
        <input class="input mb-10" type="password" id="signup-password-confirm" 
          placeholder="Confirm password" name="signup_password_confirm">
        
        <% } else { %>

        <label class="label" for="signup-password-confirm">Confirm password:</label>
        <input class="input mb-10" type="password" id="signup-password-confirm" 
          placeholder="Confirm password" name="signup_password_confirm">

        <% } %>

        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>

</body>
</html>

